<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <h1 mat-list-item (click)="onNavigate('home')">
          <span class="titulo">Sala de Juegos</span>
        </h1>
  
        <a mat-list-item (click)="onNavigate('quien-soy')">
          <span>Quien Soy</span>
        </a>
  
        <a mat-list-item (click)="onNavigate('login')">
          <span>Cerrar Sesion</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>