form {
  text-align: center;
  background-color: #212121;
  color: white;
  padding: 100px 200px;
}

form input{
  max-width: 370px;
}

button {
  margin-top: 20px;
}

.error-message{
  color: rgb(230, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  margin-top: 40px;
}

.botones-acceso-rapido {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.botones-acceso-rapido button{
  background-color: rgb(19, 119, 82);
}